* {
    list-style: none;
    text-decoration: none;
}
.app__wrapper {
    display: none;
}

.container {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #4d4d4d;
    margin: 10px 20px;

    // .intro {
    //     text-align: center;
    //     font-size: 50px;
    //     font-weight: 500;
    //     margin: 10px;
    //     line-height: 1.5;
    //     color: #000;
    // }

    .row {
        display: flex;
        gap: 2%;
        padding-top: 25px;

        .left {
            padding: 15px;
            width: 33%;

            .info li {
                padding: 10px;

                .first-block {
                    display: inline-block;
                    padding: 5px 10px;
                    color: #000;
                    font-weight: bold;
                    opacity: 0.85;
                    // width: 40%;
                }

                .second-block {
                    letter-spacing: 1px;
                    color: rgba(0, 0, 0, 0.6);
                }

                @media screen and (max-width: 450px) {
                    padding: 4px;
                }
            }

            @media screen and (max-width: 780px) {
                width: 100%;
                padding: 0;
            }
        }

        .right {
            width: 70%;

            h2 {
                font-size: 40px;
                text-align: left;
                letter-spacing: 2px;
                color: #000;
                font-weight: 400;
                margin-bottom: 20px;
            }

            p {
                margin-bottom: 20px;
            }

            .icons {
                display: flex;
                gap: 10px;
                padding-top: 20px;

                li {
                    a {
                        font-size: 1.2rem;
                        color: #fff;
                        background: var(--secondary-color);
                        padding: 6px 10px;
                        border-radius: 3px;
                        transition: all 400ms;

                        &:hover {
                            color: #fff;
                            background:rgba(0, 0, 0, 0.6);
                        }

                    }
                }

            }

            @media screen and (max-width: 780px) {
                width: 100%;

                h2 {
                    margin-top: 2rem;
                    font-size: 2rem;
                }
            }
        }

        @media screen and (max-width: 780px) {
            flex-direction: column;
            width: 100%;
        }
    }

    @media screen and (max-width: 780px) {
        width: 100%;
        font-size: 14px;

        h2 {
            margin-bottom: -15px;
        }
    }
}